<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%= include_content("title") or "Blog Indispensable" %></title>
    <%= include_css %>
    <link rel="icon" href="/images/favicon.jpeg?v1">
  </head>

  <body>
    <%= include_partial "shared/menu.html.erb" %>
    <h1>Blog de Pat <img src="/images/rock-you.png" /></h1>
    <%= yield %>

    <%= include_javascript %>
  </body>
</html>